<div class="container-fluid" *ngIf="loadCompleted">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">5-day forecast for {{this.lastResponse.name}}</h3>

    </div>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let day of this.lastResponse.list">
        {{(day.date*1000) | date:'EEEE MMM dd'}}:
        {{day.main}}
        - Min: {{day.temp_min}}
        - Max: {{day.temp_max}}
        <img class="icon" src="{{ day.image }}">
      </li>
    </ul>
  </div>
  <button class="btn btn-success" tabindex="0" id="mainPageBtn" routerLink="/"> Back to main page</button>
</div>